<div
  *ngIf="product.title"
  class="card mb-3"
  [class.card-product]="numberProducts === 1"
>
  <img
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    class="card-img-top product-image"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency: 'USD' }}</p>
  </div>
  <div class="card-footer p-0">
    <button
      (click)="addToCart(product)"
      *ngIf="showActions"
      class="btn btn-primary d-block w-100"
    >
      Add to cart
    </button>
  </div>
</div>
