<div
  *ngIf="product.title"
  class="card mb-3"
  [class.card-product]="numberProducts === 1"
>
  <img
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    class="card-img-top product-image"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency: 'USD' }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer p-0">
    <button
      *ngIf="getQuantity() === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-primary btn-block"
    >
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button (click)="removeFromCart()" class="btn btn-secondary btn-block">-</button>
        </div>
        <div class="col-8 text-center">{{ getQuantity() }} in cart</div>
        <div class="col-2">
          <button (click)="addToCart()" class="btn btn-secondary btn-block">+</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
