<div class="row">
  <div class="col-3">
    <ul class="list-group" *ngFor="let c of (categories$ | async)">
      <li class="list-group-item">{{ c.name }}</li>
    </ul>
  </div>
  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let p of (products$ | async); let i = index">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img [src]="p.imageUrl" class="card-img-top" alt="product image" />
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="card-text">{{ p.price | currency: "USD" }}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
